# QualiAdept Auto-Validation Platform - Repository Git Configuration

[core]
	autocrlf = true
	whitespace = trailing-space,space-before-tab
	ignorecase = true

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
